@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(210, 212, 199);
  --theme-color: #ff6500;
}

body {
  background-color: var(--bg-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.theme-text-color {
  color: var(--theme-color);
}

.theme-bg-color {
  background-color: var(--theme-color);
}

.theme-border-color {
  border-color: var(--theme-color);
}

.login input {
  width: 300px;
}

::-webkit-scrollbar {

  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0.205);
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}
